.side-nav
    position(fixed, 0, 0, , )
    size(0, 100%)
    padding-top 60px
    background-color $honey-flower
    overflow-x hidden
    transition 0.3s
    z-index 1

    a
        display block
        padding 8px 8px 8px 32px
        font-size 25px
        font-weight bold
        color #818181
        text-decoration none
        transition 0.3s


    .close-nav-btn
        position(absolute, 0, 25px, , )
        margin-left 50px
        font-size 36px


.open-nav-btn
    position(fixed, 15px, 25px, , )
    font-size 30px
    cursor pointer


.side-nav a:hover
.offcanvas a:focus
    color #f1f1f1