  // background color
$vivid-violet:        #87509c;
$light-sea-green:     #17c2a4;
$alice-blue:          #e7f1f8;
$cream-brulee:        #ffdd99;
$cranberry:           #d74680;
$tory-blue:           #3c5499;
$tory-blue-shade:     #344b8e;

  // button background color
$honey-flower:        #643a79;
$jaffa:               #eb7d4b;
$red-damask:          #c86a40;
$spindle:             #bdd1df;
$white:               #ffffff;
$marzipan:            #ebc985;
$light-sea-green:     #17c2a4;
$mountain-meadow:     #14a58c;
$summer-sky:          #30bae7;
$pelorous:            #299ec5;

  // form background color
$resolution-blue:     #273a71;

  // text color
$white:               #ffffff;
$gulf-blue:           #3c4761;
$valhalla:            #27283d;
$summer-sky:          #30bae7;
$eclipse:             #393939;
$cream-brulee:        #ffdd99;
$coral-red:           #ff4444;

  // color of additional elements
$mountain-meadow:     #14a58c;
$pattens-blue:        #c8d9e5;
$pattens-blue-shade:  #dfe8ed;
$new-orleans:         #e5c37f;
$royal-heath:         #b73c6d;
$resolution-blue:     #273a71;

  // progress bar color
$summer-sky:          #30bae7;
$cranberry:           #d74680;
$light-sea-green:     #17c2a4;
$jaffa:               #eb7d4b;
$pattens-blue-shade:  #dfe8ed;