nav.main-nav
    each link, title in nav.navPages
        a(href= link)= title

#sideNav.side-nav
    a#closeNav.close-nav-btn(href='javascript:void(0)') ×

    each link, title in nav.navPages
        a(href= link)= title

span#openNav.open-nav-btn &#9776;

#main