nav#myMenu
    a.logo(href= content.logo.link)= content.logo.title

    ul
        li.active(data-menuanchor='home')
            a(href='#home') HOME
        li(data-menuanchor='services')
            a(href='#services') SERVICES
        li(data-menuanchor='team')
            a(href='#team') TEAM
        li(data-menuanchor='skills')
            a(href='#skills') SKILLS
        li(data-menuanchor='work')
            a(href='#work') WORK
        li(data-menuanchor='blog')
            a(href='#blog') BLOG
        li(data-menuanchor='contact')
            a(href='#contact') CONTACT