nav#myMenu
    a.logo(href= content.logo.link)= content.logo.title

    ul
        li.active(data-menuanchor='home')
            a(href='#home').nav-link HOME
        li(data-menuanchor='services')
            a(href='#services').nav-link SERVICES
        li(data-menuanchor='team')
            a(href='#team').nav-link TEAM
        li(data-menuanchor='skills')
            a(href='#skills').nav-link SKILLS
        li(data-menuanchor='work')
            a(href='#work').nav-link WORK
        li(data-menuanchor='blog')
            a(href='#blog').nav-link BLOG
        li(data-menuanchor='contact')
            a(href='#contact').nav-link CONTACT