.testimonials.wrapper.section
    .inner
        .blog-inner
            h2.blog-title= content.blog.title
            .blog-separator
            p.blog-subtitle= content.blog.subtitle
            
            .blog-list
                +BlogItem(content.blog.list.chanel.name, content.blog.list.chanel.position, content.blog.list.chanel.text, content.blog.list.chanel.imgSrc)
                +BlogItem(content.blog.list.adriana.name, content.blog.list.adriana.position, content.blog.list.adriana.text, content.blog.list.adriana.imgSrc)
                +BlogItem(content.blog.list.anne.name, content.blog.list.anne.position, content.blog.list.anne.text, content.blog.list.anne.imgSrc)
                +BlogItem(content.blog.list.emma.name, content.blog.list.emma.position, content.blog.list.emma.text, content.blog.list.emma.imgSrc)