footer.wrapper.section.pp-scrollable
    .inner
        .footer-inner
            h2.footer-title= content.footer.title
            .footer-separator
            p.footer-subtitle= content.footer.subtitle

            form(action='', method='post').footer-form
                .footer-input-wrap
                    input#POST-name(type='text', name='name', placeholder='Your Name')
                    input(type='email', placeholder='Enter Email')
                textarea(rows='4', cols='50', placeholder='You Message')

                input(type='submit', value='SEND MESSAGE').footer-btn


            ul.footer-social-list
                each link, title in content.footer.social
                    +FooterSocial(title, link)