footer.wrapper.section.pp-scrollable
    .inner
        .footer-inner
            h2.footer-title= content.footer.title
            .footer-separator
            p.footer-subtitle= content.footer.subtitle

            form(method='post').footer-form
                .footer-input-wrap
                    input(type='text', name='name', placeholder='Your Name', title='Your Name', required=)
                    input(type='email', placeholder='Enter Email', title='youremail@gmail.com', required)
                textarea(rows='4', cols='50', placeholder='You Message', required)

                input(type='submit', value='SEND MESSAGE').footer-btn


            ul.footer-social-list
                each link, title in content.footer.social
                    +FooterSocial(title, link)

            p.copyright= '© 2017 Maryna Hapon'