header.wrapper.section
    .inner
        //a.logo(href= content.logo.link)= content.logo.title
        .slogan-wrapper
            .slogan-inner
                h1.header-chapter= content.header.chapter
                a.header-btn(href= content.header.btn.link)= content.header.btn.title