.portfolio.wrapper.section.pp-scrollable
    .inner
        .portfolio-inner
            h2.portfolio-title= content.portfolio.title
            .portfolio-separator
            p.portfolio-subtitle= content.portfolio.subtitle

            .portfolio-list
                each title, src in content.portfolio.list
                    +PortfolioItem(src, title)

                a#loadMore(href='#') LOAD MORE PROJECTS
                p.totop
                    a(href='#top') BACK TO TOP