.services
    background-color $light-sea-green


.services-inner
    height 80vh
    display flex
    flex-direction column
    justify-content center
    align-items center


.services-title
.services-subtitle
    color $white


.services-subtitle
    max-width 70vw
    font-size 18px
    line-height 26px
    text-align center


.services-separator
    @extend .separator
    background-color $mountain-meadow


.services-list
    display flex
    flex-direction row


.services-item
    width 250px
    text-align center
    color $white
    //display flex
    //flex-direction column


.service-item-img
    margin-top 30px
    size(auto, 70px)


.service-item-title
    font-size 24px
    padding 30px 0


.service-item-text
    font-size 16px
    line-height 24px
