.skills
    background-color $pale-turquoise
    text-align center

.skills-inner
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center


.skills-separator
    @extend .separator
    background-color $pattens-blue-shade


.skills-list
    display flex
    flex-direction row
    justify-content space-around
    flex-wrap wrap


.skills-item
    margin 30px 30px 0
    display flex
    flex-direction column
    align-items center


.skills-title
.skills-subtitle
.skills-item-title
    color $gulf-blue


.skills-title
    font-size 40px


.skills-subtitle
    padding-bottom 20px
    max-width 70vw
    font-size 18px
    line-height 26px


.skills-item-title
    margin-top 15px
    font-size 24px
    font-weight bold


#webDesign
#htmlCss
#graphicDesign
#uiUx
    display block
    position relative
    size(150px)
