.skills
    background-color $white


.skills-list
    margin 50px
    display flex
    flex-direction row

#webDesign,
#htmlCss,
#graphicDesign,
#uiUx
    display block
    position relative
    size(150px)
