.team
    background-color $alice-blue
    text-align center


.team-inner
    height 100vh
    display flex
    flex-direction column
    justify-content center
    align-items center


.team-list
    display flex
    flex-direction row
    flex-wrap wrap
    justify-content center


.team-item
    width 250px
    padding 0 15px
    display flex
    flex-direction column
    align-items center
    justify-content space-between


.team-separator
    @extend .separator
    background-color $pattens-blue


.team-image
    size(150px)
    border-radius 100%
    margin 30px 0 15px


.team-title
    font-size 40px


.team-subtitle
    padding-bottom 20px
    max-width 70vw
    font-size 18px
    line-height 26px


.team-title
.team-subtitle
.team-about
    color $gulf-blue


.team-name
    font-size 24px
    color $valhalla


.team-position
.team-about
    font-size 16px


.team-position
    padding 15px 0
    color $summer-sky


.team-about
    width 220px
    line-height 24px


.sprite
    background-image url('../img/general/spritesheet.png')
    background-repeat no-repeat
    background-size 65px


.social-fb
.social-tw
.social-li
.social-mail
    display inline-block
    margin 4px
    padding 15px
    border-radius 100%


.social-fb
    background-color $spindle
    background-position -18px -17px

    &:hover
        background-color $facebook


.social-tw
    background-color $spindle
    background-position -17px -212px

    &:hover
        background-color $twitter


.social-li
    background-color $spindle
    background-position -17px -84px

    &:hover
        background-color $linkedin


.social-mail
    background-color $spindle
    background-position -18px -148px

    &:hover
        background-color $mail