extends ../layout/main

block variables
	- var title = 'Cuda'

block content
	include ../components/navigation
	#pagepiling

		include ../modules/header
		include ../modules/services
		include ../modules/team
		include ../modules/skills
		include ../modules/portfolio
		include ../modules/blog
		include ../modules/footer