.wrapper
    width 100%
    overflow-x hidden


.inner
    max-width 1140px
    margin 0 auto
    padding 0 10px
    height 90vh


.title
    font-size 40px


.subtitle
    font-size 18px


.separator
    margin 20px 0
    size(80px, 2px)
    background-color transparent


.btn
    display inline-block
    padding 25px 80px
    min-width 290px
    background-color transparent
    box-shadow 0 5px transparent
    border-radius 5px
    color $white
    font-size 18px
    font-weight bold
    text-align center
    outline none

    &:hover
        background-color transparent

    &:active
        background-color transparent
        box-shadow 0 5px transparent
        transform translateY(4px)