  // navigation
@media screen and (max-width: 1050px)
    .nav-link
        padding 10px 10px


@media screen and (max-width: 770px)
    #myMenu
        ul
            display none


@media screen and (max-width: 425px)
    .header-chapter
        font-size 28px


@media screen and (max-width: 1036px)
    .services-inner
    .team-inner
    .skills-inner
    .portfolio-inner
    .blog-inner
    .footer-inner
        height auto
        padding 80px 0


@media screen and (max-width: 600px)
    .blog-item
        flex-direction column
        align-items center

    .blog-img
        margin 30px 0 15px


@media screen and (max-width: 900px)
    .footer-input-wrap
    .footer-social-list
        flex-direction column

    input[name='name']
        margin 0
        width 100%

    input[type='email']
          margin 15px 0 0
          width 100%
