  // navigation
@media screen and (max-width: 1050px)
    .nav-link
        padding 10px 10px


@media screen and (max-width: 770px)
    #myMenu
        ul
            display none


@media screen and (max-width: 425px)
    .header-chapter
        font-size 28px


@media screen and (max-width: 1036px)
    .services-inner
        height auto
        padding 80px 0