  // navigation
@media screen and (max-width: 1050px)
    .nav-link
        padding 10px 10px

@media screen and (max-width: 770px)
    #myMenu
        ul
            display none


@media screen and (min-width: 768px)
    .open-nav-btn
        display none
